
.form-group{
    height: 112px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.form-control{
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.20);
    border-width: 1.0px;
    border-radius: 4px;
    position: relative;
    height: 32px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 8px;
    text-align: center;
    font-family:Cambria;
    font-size: medium;
}
.form-control-btn{
    border: none;
    border-radius: 26px;
    background: linear-gradient(to right, #00f260, #0575e6);
    color: white;
    width: 50%;
    height: 44px;
    margin-top: 10px;
}

.login-form{
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    position: absolute;
    height: 50%;
    aspect-ratio: 8/10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

body{
    background-color: rgba(0, 0, 0, 1.0);
}